.MoodViewsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    color: black;
}

.moodItem {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.mood-list {
    width: 90%;
}

.moodProperty{
    width: 30%;
}
.moodTags{
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 1%;
}